.places {
  box-sizing: border-box;
  width: 100%;
  padding: 92px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 90px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 576px) {
  .places {
    padding: 64px 0px;
    row-gap: 50px;
  }
}
