.footer__links {
  display: flex;
  column-gap: 18px;
}

@media screen and (max-width: 700px) {
  .footer__links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 18px;
    row-gap: 16px;
  }
}

@media screen and (max-width: 426px) {
  .footer__links {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}

