.cover {
  box-sizing: border-box;
  width: 100%;
  padding: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0 0 92px;
  }

}

@media screen and (max-width: 426px) {
  .cover {
    padding: 0 0 64px;
  }

}

